#container {
    background-color: rgb(61, 42, 165);
    height: 20;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title {
    font-size: 4;
    font-size: bold;
}
#panel {
    text-decoration: none;
    color:white;
    display:flex;
}


  
.grow {
    &:hover{
        font-weight:bolder;
    }
}