.navbar {
    display : flex;
    justify-content: space-between;
    background-color: black;
    color : white;

    padding : 20px;
}

#home {
    font-size: 18px;
    font-weight: bold;
}

.navbar-content {
    margin : 0px 10px 0px 10px;
}
.navbar-content:hover {
    text-shadow: 1px 1px 1px red; 
}  

/* 기본 밑줄 제거 */
a {
    text-decoration: none;
}
a:link {
    color: yellow;
}
a:visited {
    color: yellow;
}
a:hover {
    color: yellow;
}
a:active {
    color: yellow;
}